<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/My/Less")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
    </header>

    <div id="body">
        @RenderBody()
    </div>

    <footer>
        <div>
            <p>&copy; @DateTime.Now.Year - <a href="http://www.vichamp.com">www.vichamp.com</a></p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ajaxlogin")
    @RenderSection("scripts", required: false)
</body>
</html>
